html { 
    /* bg image properties */
    background: url("./assets/images/pexels-ryutaro-6249515.jpg") no-repeat center center fixed; 
    /* Apple extension property specifies the size of the background images. 
    It is only supported in Safari 3.0 or lower. New versions of Safari should support the background-size property.  */
    -webkit-background-size: cover;
    /* Mozilla extension property specifies the size of the background images. 
    It is only supported in Gecko 1.9.2 (Firefox 3.6) or lower. New versions of Gecko support the background-size property.  */
    -moz-background-size: cover;
    /*  Opera extension property specifies the size of the background images. 
    It is only supported in Opera 9.5 or lower. New versions of Opera should support the background-size property.  */
    -o-background-size: cover;
    
    background-size: cover;

  }

body{

    display: flex;

    flex-direction: column;

    align-items: center;
    
}



.weatherForm{

    background-color: #69691b6e;

    padding: 10px;

    border-radius: 6px 6px 0 0;

    margin: 20px;

}

.cityInput{

    padding: 10px;

    font-size: 2rem;

    font-weight: bold;

    margin: 10px;

    width: 300px;

    text-align: center;

}

button[type="submit"]{

    padding: 10px 20px;

    font-weight: bold;

    font-size: 2rem;

    background-color: #4e4eb1;

    color: white;
    
    /* When we hover our cursor over the button */
    cursor: pointer;

}

.cityInput, button[type="submit"] {
    
    border: 5px solid black;
    
    border-radius: 10px;
}

button[type="submit"]:hover{

    background-color: hsl(122, 39%, 40%);

}

/* forecast card parent */
.card {
   
    display: flex;
   
    flex-direction: column;
   
    align-items: center;

    background: radial-gradient(circle,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 90%) 100%);
   
    padding: 30px;
   
    border-radius: 10px;
   
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.5);

    min-width: 300px;

    font-family: Arial, sans-serif;
   
    font-weight: bold;

}

.cityName, .temp {
   
    font-size: 2.5rem;
   
    margin-bottom: 25px;

}

/* weather icon */
.weatherIcon {
    
    margin: 0;
    
    width: 100%; height: auto;

}

.errorMessage {
   
    font-size: 1.5rem;
   
    font-weight: bold;
   
    color: hsla(0, 0%, 0%, 0.75);

}


/* MEDIA BREAK POINTS */
@media (max-width: 330px) {
    .cityInput {
       
        width: 250px;

    }
}

@media (max-width: 400px){
    .card {
       
        padding: 0px;

    } 

    .weatherIcon {
        
        width: 82%;

    }

    .cityInput, button[type="submit"]{   
        
        font-size: 1.5rem;    
        
    }

}

@media (max-width: 586px){
    .weatherForm {
        
        display: flex;
        
        flex-direction: column;
        
        align-items: center;
        
        margin: 10px;

    }
}

