body{

    display: flex;

    flex-direction: column;

    align-items: center;
    
    /* bg image */
    background: url("./assets/images/pexels-ryutaro-6249515.jpg");
    
    background-repeat: no-repeat;
    
    height:auto;
    
    background-size: cover;
}



.weatherForm{

    background-color: #69691b6e;

    padding: 10px;

    border-radius: 6px 6px 0 0;

    margin: 20px;

}

.cityInput{

    padding: 10px;

    font-size: 2rem;

    font-weight: bold;

    border: 5px solid #000000;

    border-radius: 10px;

    margin: 10px;

    width: 300px;

    text-align: center;

}

/* Select all buttons where the attribute equals submit */
button[type="submit"]{

    padding: 10px 20px;

    font-weight: bold;

    font-size: 2rem;

    background-color: #4e4eb1;

    color: white;
    
    /* cityInput and btn shar repeat properties */
    border: 5px solid black;
    border-radius: 10px;
    
    /* When we hover our cursor over the button */
    cursor: pointer;

}

button[type="submit"]:hover{

    background-color: hsl(122, 39%, 40%);

}

/* forecast card parent */
.card {
    display: flex;
    flex-direction: column;
    align-items: center;

    /* background: linear-gradient(183deg, hsl(230, 62%, 77%), hsl(36.52deg 91.34% 56.23%)); */
    /* background: #EEAECA; */
    background: radial-gradient(circle,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 90%) 100%);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.5);

    min-width: 300px;

    font-family: Arial, sans-serif;
    font-weight: bold;

}

/* forecast city name */
/* .cityName {

} */

.cityName, .temp {
    font-size: 2.5rem;
    margin-bottom: 25px;
}

/* weather icon */
.weatherIcon {
    margin: 0;
    width: 100%; height: auto;
}

/* weather icon description */
/* .descDisplay {
    font-style: italic;
} */

.errorMessage {
    font-size: 2.5rem;
    font-weight: bold;
    color: hsla(0, 0%, 0%, 0.75);
}









/* MEDIA BREAK POINTS */
/* Small devices (portrait tablets and large phones  */
@media (max-width: 330px) {
    /* lower font sizes for search button and box */
    .cityInput {
        width: 250px;
    }
}


@media (max-width: 400px){
    .card {
        padding: 0px;
    } 

    .weatherIcon {
        width: 82%;
    }

    .cityInput, button[type="submit"]{   
        font-size: 1.5rem;    
    }

}

@media (max-width: 586px){
    .weatherForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
    }
}

/* Middle range between small and medium devices */
/* @media (min-width: 401px) and (max-width: 507px) {

}  */

/* Medium devices (landscape tablets, 477px and up) */
/* @media (min-width: 508px) and (max-width: 938px) {

}  */